/* Shop Page */
.shoppage_frame 
{
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.shoppage_frame .top_frame
{
	width: 100%;
	height:auto;
	
	display: flex;
	flex-direction:row;

	border: 1px solid #eaeaea;
}

.shoppage_frame .top_frame .menu_container
{
	margin-left: 40px;
	padding: 5px ;

	height: 30px;
}

.shoppage_frame .top_frame .menu_container a
{
	width: 100%;

	display: flex;

    font-family: var(--font);
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;

	color: #041e42;
}

.shoppage_frame .top_frame .menu_container a:hover
{
	cursor: pointer;
	border-bottom: 2px solid #041e42;
}

.shoppage_frame .header_frame
{
	position: relative;
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
}

.shoppage_frame .header_frame .container
{
	width: 1320px;
	height: 424px;

	flex-direction: row;

	background: url("../../public/images/icons/shop_header_bg.png");
}

.shoppage_frame .header_frame .container .header_content
{
	margin-left:75px;
	width: 366px;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shoppage_frame .header_content span
{
	width: 366px;

	font-family: var(--font);
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
	text-transform: capitalize;

    color: #041e42;
}

.shoppage_frame .header_content p
{
	margin: 18px 0px;

	font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
	text-transform: capitalize;

    color: #041e42;
}

.shoppage_frame .header_content a
{
	width: 145px;
	height: 52px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: #f5c34b;
	border: 1px solid blue;
	border-radius: 6px;

	font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
	text-transform: capitalize;

    color: #041e42;
}

.shoppage_frame .header_content a:hover
{
	background-color: green;
	border: 2px solid red;
}

.container .pagionation_box
{
	margin-top: 100px;

	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
}

.container .pagionation_main
{
	width: auto;
	height: 24px;

	display: flex;
	flex-direction: row;
	align-items: center;

	/* justify-content: space-between; */

}

.container .pagionation_main .pagination_dot
{
	margin: 0 10px;

	display: flex;
	flex-direction: row;

}

.container .pagination_dot .dot 
{
	width: 20px;
	height: 20px;

	display: flex;
	align-items: center;
	justify-content: center;

    border-radius: 50%;
}

.container .pagination_dot .dot.active
{
    border: 2px solid #112137;
}

.container .pagination_dot .dot div 
{
	width: 4px;
	height: 4px;

	background: #112137;
	border-radius: 50%;
}

/* shop category */

.shop_category_frame .container .category_top
{

	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.shop_category_frame .container .category_top div
{
	display: flex;
	flex-direction: row;
}

.shop_category_frame .container .category_top span 
{
	font-family: var(--font);
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
	text-transform: capitalize;

    color: #041e42;

}

.shop_category_frame .container .category_top a
{
	margin-left: 30px;

	font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
	text-transform: capitalize;

    color: #041e42;

} 

 .shop_category_frame .container .category_top a:hover 
{
	border-bottom: 1px solid #041e42;
}

.shop_category_frame
{
	position: relative;
	margin-top: 90px;
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;

}

.shop_category_frame .container
{
	flex-direction: column;

}


.shop_category_frame .container .category_wrapper
{
	margin-top: 30px;
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.shop_category_frame .category_wrapper .category_box
{
	width: 142px;
	height: auto;

	display: flex;
	flex-direction: column;

	cursor: pointer;

}

.shop_category_frame .category_box .category_img_box
{
	width: 100%;
	height: 150px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #eaeaea;
	border-radius: 150px;

}

.shop_category_frame .category_box span
{
	margin-top: 15px;
	
	font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

	text-align: center;

    color: #041e42;

}

/* BRAND SHOP */

 .shoppage_frame .brands_frame
{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;

	cursor:all-scroll;
}

.brands_frame .container
{
	flex-direction: column;
}

.brands_frame .container .spes_title
{
	font-family: var(--font);
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;

    color: #041e42;
}

.brands_frame .container .brands_boxes
{
	margin-top: 30px;

	display: flex;
	flex-direction: row;

	cursor: pointer;
}

.brands_frame .container .brands_boxes .brand_box
{
	margin-right: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 15px 35px;

	border: 1px solid #eaeaea;
	border-radius: 6px;

	font-family: var(--font);
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;

	text-align: center;

    color: #041e42;
}

.brands_frame .container .brands_boxes .brand_box.active
{
	background: #443297;
	color: #FFFFFF;
}

.brands_frame .container .brands_boxes .brand_box:hover
{
	background: #443297;
	color: #FFFFFF;
}

/* TOP SHOPING */

.shoppage_frame .top_products_frame 
{
	margin-top: 60px;

	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.shoppage_frame .top_products_frame .container
{
	flex-direction: column;
}

.shoppage_frame .top_products_frame .container .top_products_one
{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.shoppage_frame .top_products_frame .top_title
{
	font-family: var(--font);
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;

    color: #041e42;
}

/* content */

.shoppage_frame .top_products_frame .container .top_products_bottom
{
	margin-top: 30px;

	display: flex;
	flex-direction: row;
}

.shoppage_frame .product_box
{
	padding-bottom: 20px;

	width: 220px;
	height: auto;

	display: flex;
	flex-direction: column;
	
	border: 1px solid #eaeaea;
	cursor: pointer;
}

.shoppage_frame .product_box .product_img_box
{
	width: 100%;
	height: 220px;
}

.shoppage_frame .product_content_box 
{
	padding: 0px 0px 0px 20px;

	width: 100%;
	height: auto;
}

.shoppage_frame .product_content_box .product_title
{
    font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
	text-transform: uppercase;

	color: #626974;
}

.shoppage_frame .product_content_box .product_desc
{
	width: 90%;
	height: 56px;

	overflow: hidden;

	font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;

	color: #041e42;
}

.shoppage_frame .product_content_box .review_box
{
	margin-top: 7px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.shoppage_frame .product_content_box .review_box img
{
	margin-right: 5px;
}

.shoppage_frame .product_content_box .review_box span
{
	margin-left: 7px;

	font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

	color: #626974;
}

.shoppage_frame .product_content_box .price_box
{
	margin-top: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.shoppage_frame .product_content_box .price_box strong
{
	font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

	color: #041e42;
}

.shoppage_frame .product_content_box .price_box span
{
	margin-left: 10px;

	font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
	text-decoration: line-through;

	color: #626974;
}

/* All_products */

.shoppage_frame .all_products_frame
{
	margin: 60px 0px;

	width:100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.shoppage_frame .all_products_frame .container
{
	flex-direction: column;
	align-items: center;
}

.shoppage_frame .all_products_frame .container .frame_info
{
	width: 100%;
	height: 88px;

	display: flex;
	flex-direction: column;

	border-bottom: 1px solid #eaeaea;
}

.shoppage_frame .all_products_frame .container .frame_info .spec_title
{
	font-family: var(--font);
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;

    color: #041e42;
}

.shoppage_frame .all_products_frame .container .frame_info p 
{
	margin-top: 5px;

	font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

	color: #041e42;
}

.shoppage_frame .all_products_frame .container .products_filters
{
	margin: 20px 0px;

	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
}

.shoppage_frame .products_filters .filter_box
{
	margin-right: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 7px 20px;

	background: #f3f5f6;
	border-radius: 60px;
	
	cursor: pointer;
}

.shoppage_frame .filter_box select
{
	background: none;
	border: none;
	outline: none;

	font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

	color: #041e42;
}

/* All products frame */

.shoppage_frame .all_products_frame .container .products_wrap
{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.shoppage_frame .all_products_frame .container .pro_pagination_box
{
	margin-top: 60px;

	width: 460px;
	height: 50px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.shoppage_frame .all_products_frame .container .pro_pagination_box .next_prev_btn
{
	width: 50px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #FFFFFF;
	border-radius: 50%;
	border: 1px solid #eaeaea;

	cursor: pointer;
}

.shoppage_frame .pro_pagination_box .pagination_number_wrap
{
	width: 312px;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.shoppage_frame .pagination_number_wrap .pagination_number_box
{
	width: 40px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	cursor: pointer;
}

.shoppage_frame .pagination_number_wrap .pagination_number_box.active
{
	background: #f5c34b;
	border: 1px solid #f5c34b;
}

.shoppage_frame .pagination_number_wrap .pagination_number_box:hover
{
	background: #f3f5f6;
	border: 1px solid #f3f5f6;
}

.shoppage_frame .all_products_frame .container .pro_pagination_box .next_prev_btn:hover
{
	background: #f3f5f6;
	border: 1px solid #f3f5f6;
}